# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json


# Build output
/build/
/dist/

# Environment variables
.env

# IDE/Editor specific files
.vscode/
.idea/
*.code-workspace

# macOS
.DS_Store

# Logs
logs/
*.log

# Testing
/coverage/
/.nyc_output/
